.board-container {
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  padding: 0;

  .column-container {
    margin-right: var(--bs-gutter-x);

    &:last-child {
      margin-right: 0;
    }

    & >.row {
      flex-wrap: nowrap;

      & > [class*="col"] {
        width: 375px;
      }
    }
  }
}
