.bd-navbar {
  padding: .75rem 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);

  .navbar-brand {
    color: #fff;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: rotate(-5deg) scale(1.1);
    }
  }

  .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
  }

  .navbar-toggler {
    border: 0;

    &:focus {
      box-shadow: none;
    }
  }

  .nav-link,
  .navbar-toggler {
    color: rgba(255, 255, 255, 0.85);

    &:hover,
    &:focus {
      color: #fff;
    }

    &.active {
      font-weight: 600;
      color: #fff;
    }
  }

  .dropdown-menu {
    font-size: .875rem;
    border-radius: .5rem;

    .active .bi {
      display: block !important;
    }
  }

  .offcanvas-lg {
    background-color: #712cf9;
    border-left: 0;
  }

  &:after {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    content: "";
    background-image: linear-gradient(rgba(112.520718,44.062154,249.437846, 1), rgba(112.520718,44.062154,249.437846, 0.95));
  }
}

@media (max-width: 991.98px) {
  .bd-navbar .offcanvas-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
}
