li.nav-item.dropdown
  a.nav-link.dropdown-toggle.py-0.px-0.px-lg-2.d-flex.align-items-center href="#" data-bs-toggle="dropdown" aria-expanded="false"
    img.rounded-circle.me-1 src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
  ul.dropdown-menu.dropdown-menu-end.text-small
    li: a.dropdown-item href="#" New project...
    li: a.dropdown-item href="#" Settings
    li: a.dropdown-item href="#" Profile
    li: hr.dropdown-divider
    li: a.dropdown-item href="#" Sign out
